name: sonic_snap
description: "SonicSnap"
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.5.1


dependencies:
  flutter:
    sdk: flutter

  flutter_launcher_icons: ^0.13.1
  cupertino_icons: ^1.0.8
  font_awesome_flutter: ^10.1.0
  animated_bottom_navigation_bar: ^1.0.0
  go_router: ^17.0.1
  rename: ^3.1.0
  dio: ^5.9.1
  riverpod_annotation: ^4.0.1
  flutter_riverpod: ^3.2.0
  google_fonts: ^8.0.0


dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^4.0.0
  riverpod_lint: ^3.0.0-dev.4


flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/logo/
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

flutter_launcher_icons:
  android: true
  ios: true
  web:
    generate: true
  windows:
    generate: true
  macos:
    generate: true
  image_path: "assets/logo/newlogo.png"

